@font-face {
  font-family: museosans;
  src: url(../fonts/museosans500.eot);
  src: url(../fonts/museosans500.eot?#iefix) format("embedded-opentype"), url(../fonts/museosans500.woff) format("woff"), url(../fonts/museosans500.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Museo Sans W01 Rounded 300";
  src: url(../fonts/MuseoSansRounded300.eot);
  src: url(../fonts/MuseoSansRounded300.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansRounded300.woff) format("woff"), url(../fonts/MuseoSansRounded300.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Museo Sans W01 Rounded 500";
  src: url(../fonts/MuseoSansRounded500.eot);
  src: url(../fonts/MuseoSansRounded500.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansRounded500.woff) format("woff"), url(../fonts/MuseoSansRounded500.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}
